version: '3'

services:
    mysql:
        #container_name: dbcontainer
        image: mysql:5.7
        volumes:
            - mysql/dbdata:/var/lib/mysql
            - mysql:docker-entrypoint-initdb.d
        environment:
            - MYSQL_ROOT_PASSWORD=root
        networks: 
            - mysql-php-net

    php:
        #container-name: webcontainer
        image: php:7.4-apache
        volumes: 
            - ./php/src:/var/www/html/
        #RUN docker-php-ext-install mysqli            
        expose: 
            - 80
        depends_on:
            - mysql
        networks: 
            - mysql-php-net
            - php-nginx-net

    nginx:
        #container_name: proxycontainer
        image: nginx:latest
        ports: 
            - 8000:8000
        volumes: 
            - ./nginx:/etc/nginx/conf.d
        depends_on: 
            - php
        networks: 
            - php-nginx-net

networks: 
    mysql-php-net:
        driver: bridge
    php-nginx-net:
        driver: bridge